@using Microsoft.AspNet.Identity;

@if (Request.IsAuthenticated)
{
    {
        ViewBag.Title = "Tanks";
        var tier = ViewBag.Tier;
    }

    <h2>Tanks</h2>


    using (Html.BeginForm("tanksByType", "Tanks", FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
    {

        <h4> Please select tank type of @ViewBag.Tier tier:</h4>
        <hr />
        <table>

            <tr>
                <td>Type:</td>
                <td>Select:</td>
                <td></td>
            </tr>

            <tr>
                <td>Heavy Tanks</td>
                <td> @Html.RadioButton("tankType", "heavyTank")</td>
                <td> <img src="~/Images/e100.jpg" alt="Medium" width="300" height="150" /></td>
            </tr>

            <tr>
                <td>Medium Tanks</td>
                <td> @Html.RadioButton("tankType", "mediumTank")</td>
                <td> <img src="~/Images/t62.jpg" alt="Medium" width="300" height="150" /></td>
            </tr>
            <tr>
                <td>Light Tanks</td>
                <td> @Html.RadioButton("tankType", "lightTank")</td>
                <td> <img src="~/Images/light.jpg" alt="Medium" width="300" height="150" /></td>
            </tr>
            <tr>
                <td>Tank Destroyers</td>
                <td> @Html.RadioButton("tankType", "AT-SPG")</td>
                <td> <img src="~/Images/td.jpg" alt="Medium" width="300" height="150" /></td>
            </tr>
            <tr>
                <td>Artillery</td>
                <td> @Html.RadioButton("tankType", "SPG")</td>
                <td> <img src="~/Images/arty.jpg" alt="Medium" width="300" height="150" /></td>
            </tr>
    

            <tr><td> <input type="hidden" name="tier" value="@ViewBag.Tier" /></td><td>  <input type="submit" class="btn btn-default" value="Select Vehicle Type" /></td></tr>

        </table>
    }

}
